<div class="container">
  <div class="row text-center">
    <h2>Your contact info</h2>
      <div> <%= @lead.email %> </div>
      <div> <%= "#{@lead.first_name} #{@lead.last_name}"%> </div>

    <br>
    <br>

    <h2>Company</h2>
    <div> <%= @company.legal_name %> </div>

    <br>
    <br>

    <h2>Quotes</h2>
    <% @company.quotes.each do |quote| %>
      <div> <%= quote.gross_premiums  %> </div>

    <br>
    <br>

      <h2>Advice</h2>
      <div> <%= quote.generate_advice %> </div>
    <% end %>
  </div>
</div>