<h1>Companies#show</h1>

<h2>Your contact info</h2>
<%= @lead.email %>
<%= @lead.first_name %>
<%= @lead.last_name %>

<h2>Company</h2>
<%= @company.legal_name %>
<%= @company.nacebel_codes %>
<%= @company.lead_id %>

<h2>Quotes</h2>
<% @company.quotes.each do |quote| %>
  <div>
    <%= quote.created_at  %>
    <%= quote.gross_premiums  %>
  </div>
<% end %>
